/* Compact TOC offcanvas + navbar button */

.toc-toggle-btn {
  margin-left: 0.5rem;
  white-space: nowrap;
}

.toc-offcanvas {
  background: #222;
  color: #dee2e6;
  width: 320px;
}

.toc-offcanvas .offcanvas-title {
  font-weight: 600;
}

.toc-offcanvas .toc-offcanvas-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.toc-offcanvas .toc-offcanvas-list li {
  margin: 0.4rem 0;
}

.toc-offcanvas .toc-level-h2 {
  margin-left: 1rem;
}

.toc-offcanvas .toc-level-h3 {
  margin-left: 2rem;
  font-size: 0.95em;
}

.toc-offcanvas a {
  color: #00bc8c;
  text-decoration: none;
}

.toc-offcanvas a:hover {
  text-decoration: underline;
}
